<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<!-- script for signup form -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		 <!-- ----------------------------------------------------------------------------- -->
		 <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
			  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<!-- ----------------------------------------------------------------------------------------- -->
	<script src="js/index.js"></script>
    </head>
    <body ng-app="AngularJSApp">
        <div class="container">
            <header>
                <div class="header">
					<a href="#default" class="logo">AngularJS App</a>
					<div class="header-right" ng-init="tab = 1">
					<ul>
					<pre>
                <li ng-click="tab = 1"><a class="buttons" href="#login">Login</a></li>  <li ng-click="tab = 2"><a class="buttons" href="#signup">Signup</a></li>
				<pre>
            </ul>				
					</div>
				</div>
            </header>
            <section>				
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">					
                        <div ng-controller="UserLogin" class="animate form" ng-show="tab == 1">
                            <form name="loginform" autocomplete="off"> 
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Your email </label>
                                    <input ng-model="emailid" name="username" required="required" type="text"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input ng-model="pwd" name="password" type="password" required="required"/> 
                                </p>
                                <p class="login button"> 
                                    <input ng-click="Login()" type="submit" value="Login"/> 
								</p>
                            </form>
                        </div>

                        <div ng-controller="UserRegistration" class="animate form" ng-show="tab == 2">
                            <form  name="signupform" autocomplete="off"> 
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="userfnamesignup" class="uname" data-icon="u">Your First Name</label>
                                    <input ng-model="fname" name="userfnamesignup" required="required" type="text"/>
									 <p> 
                                    <label for="userlnamesignup" class="uname" data-icon="u">Your Last Name</label>
                                    <input ng-model="lname" name="userlnamesignup" required="required" type="text"/>
                                </p>
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                                    <input ng-model="emailid" name="emailsignup" required="required" type="email"/> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input ng-model="pwd" name="passwordsignup" required="required" type="password"/>
                                </p>
								<p> 
                                    <label for="confirmpasswordsignup" class="confirmyoupasswd" data-icon="p">Confirm password </label>
                                    <input ng-model="confirmpwd" name="confirmpasswordsignup" required="required" type="password"/>
                                </p>
                                
                                <p class="signin button"> 
									<input id="Register" type="submit" value="Sign up" ng-click="CreateUser()"/> 
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>