<!DOCTYPE html>
<html lang="en">
<head>
<title>User Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/welcome.css" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="js/welcome.js"></script>
</head>
<body ng-app="WelcomeApp">
<div ng-controller="PageControl">
<header>
  <h2>Welcome To User Dashboard</h2>
  <div align="right"><a href="index.html">Logout</a></div>
</header>

<section>
  <nav>
  <h1>Grading Tools</h1>
    <ul>
      <li ng-click="link = 1"><a href="#" target="_self">Grade Calculator</a></li>
    </ul>
  </nav>
  
  <article>
  <div ng-show="link == 1">
    <form name="GradeCalculator">
	<h2> Enter your marks and click submit to view grade<br>Click reset to refresh the form.</h2>
	 Score 1: <input ng-model ="score1" type="number" min="0" max="100"><br><br>
	 Score 2: <input ng-model ="score2" type="number" min="0" max="100"><br><br>
	 Score 3: <input ng-model ="score3" type="number" min="0" max="100"><br><br>
<button ng-click="Calculator()">Submit</button>&nbsp;&nbsp;&nbsp<button ng-click="Reset()">Reset</button>
	</form>
	<h2> Calculated Grade: {{gradeletter}}</h2>
	<div>
  </article>
</section>
</div>
<footer>
  <p>Footer</p>
</footer>

</body>
</html>
